In [76]:
import pandas as pd
import numpy as np

In [23]:
test = pd.read_csv('C:\\Users\\krabs\\Downloads\\test_data_regno.csv', sep = ';', index_col='id')

In [24]:
test.head()

,camera_id,time_check,regno_recognize,regno_ai,regno,result_code,symbols,symbol_scores,length_scores
id,,,,,,,,,
1,844,00:00:00,У991КВ799,У991КВ799,У991КВ799,0,"[""У"", ""9"", ""9"", ""1"", ""К"", ""В"", ""7"", ""9"", ""9""]","[0.9999366998672485, 0.9999223947525024, 0.999...","[0.000000034831597162110484, 0.000000034835451..."
2,2516,00:00:00,О019УК177,О019УК177,О019УК177,0,"[""О"", ""0"", ""1"", ""9"", ""У"", ""К"", ""1"", ""7"", ""7""]","[0.9998993873596191, 0.999862790107727, 0.9999...","[0.0000000068477667980459955, 0.00000000683332..."
3,2476,00:00:00,Е175АК150,Е175АК150,Е175АК150,0,"[""Е"", ""1"", ""7"", ""5"", ""А"", ""К"", ""1"", ""5"", ""0""]","[0.9997256398200989, 0.9999269247055054, 0.999...","[0.000000002039653557162069, 0.000000002043387..."
4,1251,00:00:01,Т359ОН799,Т359ОН799,Т359ОН799,0,"[""Т"", ""3"", ""5"", ""9"", ""О"", ""Н"", ""7"", ""9"", ""9""]","[0.9998781681060791, 0.9998764991760254, 0.999...","[0.00000002880540606042814, 0.0000000289985120..."
5,2516,00:00:01,В521СУ750,В521СУ750,В521СУ750,0,"[""В"", ""5"", ""2"", ""1"", ""С"", ""У"", ""7"", ""5"", ""0""]","[0.999920129776001, 0.9999333620071411, 0.9999...","[0.000000009300508807541519, 0.000000009201486..."

In [30]:
test_AI = test.loc[(test['regno_recognize'] != test['regno']) & (test['regno_ai'] == test['regno']) ]

In [31]:
test_not_AI = test.loc[(test['regno_recognize'] == test['regno']) & (test['regno_ai'] != test['regno']) ]

In [47]:
size_not_AI = test_not_AI.index.size

In [48]:
size_AI = test_AI.index.size

In [90]:
test_AI.groupby('result_code').agg({'camera_id':'count'})

             camera_id
result_code
0                 8007
1                   55
2                  207
3                  441
4                   80
5                  888

In [88]:
test_not_AI.groupby('result_code').agg({'camera_id':'count'})

             camera_id
result_code
0                  892
1                 4011
2                   59
3                   79
4                 1349
5                10040

In [91]:
test.groupby('result_code').agg({'camera_id':'count'})

             camera_id
result_code
0               135289
1                 4736
2                 3250
3                25631
4                 2155
5                23153

In [55]:
test1 = test.head(5)
# for i in test_AI.index:
#     for j in test_AI.symbol_scores:
#         test['mean_score'] =

In [74]:
test1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 1 to 5
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   camera_id        5 non-null      int64
 1   time_check       5 non-null      object
 2   regno_recognize  5 non-null      object
 3   regno_ai         5 non-null      object
 4   regno            5 non-null      object
 5   result_code      5 non-null      int64
 6   symbols          5 non-null      object
 7   symbol_scores    5 non-null      object
 8   length_scores    5 non-null      object
 9   mean             5 non-null      object
dtypes: int64(2), object(8)
memory usage: 440.0+ bytes

TypeError: Could not convert [0.9999366998672485, 0.9999223947525024, 0.9998831748962402, 0.999906063079834, 0.9999197721481323, 0.9998780488967896, 0.9997326731681824, 0.9995266199111938, 0.9990807771682739][0.9998993873596191, 0.999862790107727, 0.9999288320541382, 0.9999591112136841, 0.999958872795105, 0.999863862991333, 0.9998641014099121, 0.999884843826294, 0.9999728202819824][0.9997256398200989, 0.9999269247055054, 0.9999643564224243, 0.9999462366104126, 0.9999083280563354, 0.9999425411224365, 0.9998675584793091, 0.9997984766960144, 0.9998534917831421][0.9998781681060791, 0.9998764991760254, 0.9999088048934937, 0.9999071359634399, 0.9997918009757996, 0.9996622800827026, 0.9992650151252747, 0.9992967844009399, 0.9992945194244385][0.999920129776001, 0.9999333620071411, 0.9999091625213623, 0.9999059438705444, 0.9995774626731873, 0.9999428987503052, 0.9999508857727051, 0.9999135732650757, 0.9999706745147705] to numeric

In [62]:
test1['mean'] = test1['symbol_scores'].str.split(",").str.get(0)

C:\Users\krabs\AppData\Local\Temp/ipykernel_3024/2991812540.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test1['mean'] = test1['symbol_scores'].str.split(",").str.get(0)